
  .block{
    background-color:#DBDBDB;
    
  }
  p{
    margin: 0;

  }

  .nav{
    width: 15em;
    background-color: #CCCCCC;
    float: left;
    margin-right: 5px;
    }

  .article{
    background-color: #AAAAAA;
    margin-left: 15em;
  }
  .empty{
    background-color:#AAAAAA;
    overflow: auto;
    clear:both;
    }
  
 .icon{
    float:right;

 }

 .article p{
    margin-bottom: 0.2em;
    margin-left: 10px;
    padding: 5px;
  }

 .footer{
    clear:both;
    background-color: #CCCCCC;
 }

