
  .block{
    background-color:antiquewhite;
    
  }
  p{
    margin: 0;

  }

  .nav{
    width: 15em;
    background-color: bisque;
    float: left;
    margin-right: 5px;
  }

  .article{
    background-color: rgb(211, 143, 18);
    margin-left: 15em;
  }
  .empty{
    background-color: rgb(211, 143, 18);
    overflow: auto;
    clear:both;
    }
  
 .icon{
    float:right;

 }

 .article p{
    margin-bottom: 0.2em;
    margin-left: 10px;
    padding: 5px;
      }

 .footer{
    clear:both;
    background-color: aqua;
 }

